[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python-dotenv = "*"
uvicorn = "*"
pyjwt = "*"
passlib = "*"
peewee = "*"
pymysql = "*"
bcrypt = "*"
google-auth = "*"
requests = "*"
autopep8 = "*"

[dev-packages]
